.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 71px;
}

img {
  width: 359px;
  height: 210px;
  margin: 0 0 10px;
  object-fit: contain;
  margin-bottom: 15px;
}

.footer {
  display: flex;
}

.game-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #fff;
}

.buy-now {
  width: 113px;
}
