.background-image {
  width: 1920px;
  height: 819px;
  object-fit: contain;
  background-image: radial-gradient(
      circle at 56% 54%,
      rgba(3, 6, 22, 0),
      var(--midnight) 67%
    ),
    linear-gradient(
      to bottom,
      rgba(3, 6, 22, 0),
      rgba(3, 6, 22, 0.02) 5%,
      var(--midnight) 86%
    );
}

.cabecera_detalle_info {
  position: absolute;
  top: 50%;
}

.contenedor {
  width: 1559px;
  height: 100px;
  padding: 32px 38px 32px 45px;
  margin-left: 183px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.08);
  background-color: #24262e;
}

.install-game {
  margin-left: 1308px;
  background-color: #2529d8;
  color: #fff;
  position: relative;
  top: -30%;
}

.precio {
  width: 148px;
  height: 57px;
  margin-left: 45px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  position: relative;
  top: 30%;
}

.articulo {
  margin-top: 73px;
}

.articulo {
  display: inline-block;
  vertical-align: top;
}

.texto {
  margin-left: 31px;
}

.img-detailgow {
  width: 473px;
  height: 473px;
  margin-left: 474px;
}

.titulo-videojuego {
  width: 351px;
  height: 85px;
  margin-left: 180px;
  font-family: Roboto;
  font-size: 72px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
