.cabecera {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cabecera img {
  width: 1920px;
  height: 999.4px;
  object-fit: contain;
  opacity: 0.9;
}

.cabecera_interior_info {
  position: absolute;
  margin-top: 20%;
  color: #fff;
  margin-left: 60px;
}

.button-group {
  display: flex;
  position: relative;
  margin-top: 20%;
}

.lol_texto {
  width: 501px;
  height: 72px;
  font-size: 15px;
  line-height: 50px;
}

.favorites {
  margin-top: 30px;
  margin-left: 60px;
  background-color: #fff;
  opacity: 0.1;
}

.texto-favorites {
  font-weight: bold;
}

.install-now {
  margin-top: 30px;
}

.titulo_cabecera {
  height: 85px;
  font-family: Roboto;
  font-size: 72px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
