:root {
  --midnight: #030616;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--midnight);
}

img.image {
  width: 359px;
  height: 210px;
  margin: 0 0 10px;
  object-fit: contain;
}

.button {
  height: 43px;
  padding: 14px 25px 13px;
  border-radius: 4px;
  background-color: #2529d8;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto {
  color: #fff;
}
